{{!-- loop over all articles --}}
{{#each articles}}
  <ul class="collapsible" data-collapsible="accordion">

    <!-- article dropdown -->
    <li>
      <div style="background-color: white;" class="collapsible-header grey lighten-2">
        <i class="material-icons">language</i> <b>{{updated}}</b>
        <div style="clear: left; line-height: 110%; padding-bottom: 10px;"><b>{{title}}</b></div>
      </div>
      <div class="collapsible-body" style="background-color: white;">
        <p>
          {{summary}}

          <br><br>

          <i>Please read the full article <a href="{{link}}" target="_new">here</a>.</i>
        </p>

      </div>
    </li>


    <!-- adding comments dropdown -->
    <li>
      <div class="collapsible-header"><i class="material-icons">comment</i>Add a Comment</div>
      <div class="collapsible-body" style="background-color: white;">

        <form id="form-add-{{_id}}" action="add/comment/{{_id}}" method="post" style="background-color: white;">

          <!-- entering author's name -->
          <div class="row">
            <div class="input-field col s2"></div>
            <div class="input-field col s8">
              <input id="author_name" name="name" type="text" class="validate">
              <label for="author_name">Your Name:</label>
            </div>
          </div>

          <!-- comment input box -->
          <div class="row">
            <div class="input-field col s2"></div>
            <div class="input-field col s8">
              <textarea id="comment_box" name="comment" class="materialize-textarea"></textarea>
              <label for="comment_box">Your Reaction:</label>
            </div>
          </div>

            <!-- submit button -->
            <div class="row">
              <div class="input-field col s2"></div>
              <div class="input-field col s8">
              <center><input class="btn add-comment-button" data-id="{{_id}}" type="submit" value="Submit"></center>
              </div>
            </div>

        </form>

      </div>
    </li>


    <!-- show comment drop down -->
    <li>
      <div class="collapsible-header"><i class="material-icons">thumbs_up_down</i>View Comments</div>
      <div class="collapsible-body" style="background-color: white;">

        {{!-- verify if comments exist --}}
        {{#if comments}}

          {{!-- write over comments  --}}
          <ul class="collection">
            {{#each comments}}

              <li class="collection-item">

                {{!-- adding author name --}}
                <b>{{author}}</b>

                {{!-- add delete button --}}
                <span class="badge">
                  <form id="form-delete-{{_id}}" action="remove/comment/{{_id}}" method="post">
                    <input class="btn-small delete-comment-button" data-id="{{_id}}" type="submit" value="Delete" style="color: white; background-color: red; border-color: red;">
                  </form>
                </span>

                <br>

                {{!-- display user comment --}}
                {{content}}

              </li>
            {{/each}}
          </ul>

        {{!-- show "no comment message" --}}
        {{else}}
          <p>No Comments Yet :( </p>
        {{/if}}


      </div>
    </li>

  </ul>
{{/each}}